body {
    background-color: #b6c1cf;
}

.header {
    background-color: b6c1cf;
    height: 25vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title {
    font-size: 50px;
    margin-top: 5%;
}

.signup {
    background-color: b6c1cf;
    width: 100vw;
    height: 15%;
    margin-right: 17%;
    display: flex;
    justify-content: flex-end;
}

.signup-btn {
    height: 27px;
    width: 100px;
    border: #b6c1cf;
    transition-duration: 0.4s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.signup-btn:hover {
    background-color: #d8e0eb;
}

.login {
    background-color: pink;
    margin-top: 7.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.emailinput {
    margin-right: 2.5%;
}
.psswrdinput {
    margin-left: 2.5%;
}